<div id="<%= dom_id item %>">
  <p>
    <strong>Brand:</strong>
    <%= item.brand %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= item.color %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= item.size %>
  </p>

</div>
