<div id="<%= dom_id shoe %>">
	  <p>
    <strong>Title:</strong>
    <%= shoe.title %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= shoe.brand %>
  </p>

  <p>
    <strong> shoe_size:</strong>
    <%= shoe.shoe_size %>
  </p>
</div>
